*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.6;
  background-color: black;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
p {
  margin: 0;
}

section {
  padding: 7em 0;
}
@font-face
{
  font-family: Roboto;
  src:url('assets/Roboto-Regular.ttf');
}


.scroll {
	position: absolute;
	bottom: 20px;
	left: 50%;
	z-index: 2;
	display: inline-block;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	text-decoration: none;
}

/* Navbar */

.navbar {
  width: 100%;
  background-color: #111;
  position: fixed; 
  z-index: 10; 
  height: 60px;
}
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  padding: 20px;
  text-decoration: none;
}
.logo {
  width: 100px;
}
.navbar-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  padding: 20px;
  color: #ffffff;
  text-decoration: none;
}

/* Hero */

.hero {
  color: white;
  text-align: center;
  padding: 15em 0;
  background: #222;
}
.hero {
  --clr-accent: #faa700;
}
.container {
  width: 85%;
  max-width: 65em;
  margin: 0 auto;
}
.spacing > * + * {
  margin-top: var(--spacer, 2rem);
}
.typewriter {
  text-align: center;
  margin-top: 70px;
  height: clamp(3rem, calc(5vw + 1rem), 4.5rem);
}
#primary-title {
  font-size: clamp(3rem, calc(5vw + 1rem), 4.5rem);
  line-height: clamp(3rem, calc(5vw + 1rem), 4.5rem);
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
}
#cursor {
  display: inline-block;
	vertical-align: middle;
	width: 3px;
  height: clamp(3rem, calc(5vw + 1rem), 4rem);
  margin-left: 10px;
	background-color: orange;
  animation: blink .75s step-end infinite;
}

@keyframes blink {
	from, to { 
		background-color: transparent 
	}
	50% { 
		background-color: orange; 
	}
}
.btn {
  display: inline-block;
  text-decoration: none;
  color: var(--clr-text, #fff);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  padding: .5em 1.25em;
  background: var(--clr-accent, blue);
  border-radius: .25em;
  -webkit-transition: opacity 250ms linear,
 -webkit-transform 250ms ease-in-out;
  transition: opacity 250ms linear,
 -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out,
 opacity 250ms linear;
  transition: transform 250ms ease-in-out,
 opacity 250ms linear,
 -webkit-transform 250ms ease-in-out;
}





.under-construction-logo {
  top: 40%;
  left: 50%;
  position: absolute;
  width: 500px;
  height: 80px;
  padding: 20px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.under-construction {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 32px;
  color: #ffffff;
}